
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Patient Tracks Demo</title>

        {% load staticfiles %}
        <!--style sheets--> 
        <link rel="stylesheet" type="text/css" href="{% static 'tracks/themes/gray/easyui.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'tracks/themes/icon.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'tracks/demo.css' %}">
        <!--style sheets--> 

        <script type="text/javascript" src="{% static 'tracks/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'tracks/jquery/jquery.easyui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'tracks/d3/d3.v3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'tracks/src/patient_tracker.js' %}"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

        <link href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.css" type="text/css" rel="stylesheet" />
        <script src="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.js"></script>
        
        <!-- 
        <script type="text/javascript">
        $(function() {
            $("#tfq2b").click(function() {
                if ($("#tfq2b").val() == "Quick search"){
                    $("#tfq2b").val(""); 
                }
            });
        });
        </script>
		-->

		<style type="text/css">
			.axis path,
			.axis line {
			  fill: none;
			  stroke: black;
			  shape-rendering: crispEdges;
			}
            
			.axis text {
			  font-family: sans-serif;
			  font-size: 10px;
			}

			.timeline-label {
			  font-family: sans-serif;
			  font-size: 12px;
			}
			#timeline_container, #timeline_overview_display {
                padding: 10px;
            }
			#timeline_container .axis {
			  transform: translate(0px,20px);
			  -ms-transform: translate(0px,20px); /* IE 9 */
			  -webkit-transform: translate(0px,20px); /* Safari and Chrome */
			  -o-transform: translate(0px,20px); /* Opera */
			  -moz-transform: translate(0px,20px); /* Firefox */
			}

			.coloredDiv {
			  height:20px; width:20px; float:left;
			}
			
			.qtip-wide {
				max-width: 600px;
			}
		</style>
 
        <!--patient_tracker.js --> 
		<script type="text/javascript">
    		$(document).ready(function(){

                var patientRecord = "/static/tracks/tmp/dataset_887695.json";
                doLoadSearchItem(patientRecord);
                $( "#slider-range" ).slider({
                    range: true,
                    slide: function( event, ui ) {
                        $( "#amount" ).val( "" + ui.values[ 0 ] + " - " + ui.values[ 1 ] );
                    },
                    stop: function( event, ui ) {
                        var timeData_filtered = filterRet( ui.values[ 0 ],  ui.values[ 1 ] );
                        // console.log(timeData_filtered)
                        if (timeData_filtered.length===0) return;
                        var width = 1600;
                        $('#timeline_container').html('');
                        var timeline = patientTimeline().itemHeight(12).width(width).colorProperty('color').opacityProperty('opacity').stack();
                        var svg = d3.select("#timeline_container").append("svg").attr("width", width).datum(timeData_filtered).call(timeline);
                        $("#pt_display_panel").show();
                    }
                });
			});

                function doLoadSearchItem(patientRecord){
                    // console.log(patientRecord);
                    var params = {};
                    $('#timeline_container').html('');
                    $.get(patientRecord, 
                        params,
                        function(data){                
                        var timeData = prepareTimeLineData.prepare(data);
                        if (timeData.length===0) return;

                        //This width has to be set automatically
                        var width = 1600;
                        var timeline = patientTimeline().itemHeight(12).width(width).colorProperty('color').opacityProperty('opacity').stack();
                        var svg = d3.select("#timeline_container").append("svg").attr("width", width).datum(timeData).call(timeline);
                        $("#pt_display_panel").show();
                            // alert('Load completed');
                        }
                        ,"json"
                    );
                }

                    function doSearch(value){
                        var searchID = [17, 1019993, 1020356, 1033138, 104857, 1064223, 1072593, 1076274]; 
                        if (searchID.indexOf(parseInt(value)) != -1 || 1) {
                            //alert('You input: present' + value);
                            var fileNamePath="/static/tracks/tmp/dataset_"+value+".json";
                            doLoadSearchItem(fileNamePath);
                        }else{
                            alert('You input: ' + value + ' Patient ID NOT present in Database!');
                        }
                    }
        </script>

    </head>

    <body class="easyui-layout">
    
        <!--PatientTracker header--> 
        <!--
            <form id="tfnewsearch" method="get" action="">
                <input type="text" id="tfq2b" class="tftextinput" name="q" size="20" maxlength="60" placeholder="Quick search">
                <input type="submit" value="&nbsp;" class="tfbutton">
            </form>
        --> 
        <!--PatientTracker header--> 

        <!--header TODO: search box action-->
		<div data-options="region:'north'" style="height:30px;background-color: #eee">
        	<span class="appName">Patient Visualizer</span>

				<div align="right" margin-right="50px">
                     <!--TODO searchbox with correct form submission to fetch the correct patient record--> 
                    <input class="easyui-searchbox" data-options="prompt:'Quick Search: Patient ID',searcher:doSearch" style="width:250px"></input>
                    <script>

                    </script>
            	</div>
		</div>
        <!--header-->

        <!--footer-->
        <div data-options="region:'south'" style="height:25px;background-color: #eee">
			<span class="version_info">version 0.0.1</span>
		</div>
        <!--footer-->

        <!--description panel-->
        <div data-options="region:'east',split:true" title="Description" style="width:250px;">
            <div id="summary_div">
                <table id="summary_table" style="width:100%" border="0" text-align="left">
                    <tr>
                        <td>GUID</td>
                        <td>4000107106068001</td>
                    </tr>
                </table>
            </div>
        </div>
        <!--description panel-->

        <!--configuration panel-->
        <div data-options="region:'west',split:true" title="Tracks" style="width:200px;">
          <div class="easyui-accordion" data-options="fit:true,border:false">
            <div title="Clinical Notes" style="padding:10px;" data-options="selected:true">                   
              <input type="checkbox" checked>AMS Anesthesiology Notes</br>       
              <input type="checkbox" checked>LAB Laboratory Notes</br>           
              <input type="checkbox" checked>NUR Nursing Notes</br>              
              <input type="checkbox" checked>OCC Outside Correspondence</br>     
              <input type="checkbox" checked>ORD Order Notes</br>                
              <input type="checkbox" checked>PTH Pathology Notes</br>            
              <input type="checkbox" checked>RAO Radio Oncology Notes</br>       
              <input type="checkbox" checked>REHB Rehabilitation Notes</br>      
              <input type="checkbox" checked>RES Research Consent/IRB</br>                
              <input type="checkbox" checked>UCC Urgent Care Physician Notes</br>
            </div> 
            <div title="EMR Details" style="padding:10px;" data-options="selected:false" >
	      <input type="checkbox" checked>ADM Consent-dx/therap proc (A29)</br>
	      <input type="checkbox" checked>ADM Question-contrast media (A35)</br>
	      <input type="checkbox" checked>ASM Breast medicine treatment note (PG3)</br>
	      <input type="checkbox" checked>ASM Fu breast medicine (PB3)</br>
	      <input type="checkbox" checked>ASM Progress note (P32)</br>
	      <input type="checkbox" checked>FLW Chemo administration record (E37)</br>
	      <input type="checkbox" checked>FLW Ct / mri / ivp medication admin record (F63)</br>
	      <input type="checkbox" checked>FLW Electronic medication administration record (emar) breast (F78)</br>
	      <input type="checkbox" checked>FLW Med onc flow sheet (P47)</br>
	      <input type="checkbox" checked>FLW Nuclear medicine medication administration record (F62)</br>
	      <input type="checkbox" checked>FLW Vital signs (F01)</br>
	      <input type="checkbox" checked>HML Home medication list (F69)</br>
	      <input type="checkbox" checked>LAB Lab new data outpatient (T36)</br>
	      <input type="checkbox" checked>MSK E-sig fax cover page (PQ6)</br>
	      <input type="checkbox" checked>MSK Mskcc correspondence (P00)</br>
	      <input type="checkbox" checked>NURS Nursing ongoing assessment (KP7)</br>
	      <input type="checkbox" checked>NURS Telephone conv - amb nursing (M80)</br>
	      <input type="checkbox" checked>NURS Telephone/electronic commun nursing (K84)</br>
	      <input type="checkbox" checked>ORD Contrast & lab orders - iv-ct (O84)</br>
	      <input type="checkbox" checked>ORD Dispo sheet - breast oncology (P57)</br>
	      <input type="checkbox" checked>ORD Orders (O52)</br>
	      <input type="checkbox" checked>ORD Orders - adult treatment (O53)</br>
	      <input type="checkbox" checked>OUT Non-mskcc correspondence (P02)</br>
	      <input type="checkbox" checked>OUT Outside insurance information (R37)</br>
	      <input type="checkbox" checked>OUT Outside lab (R31)</br>
	      <input type="checkbox" checked>OUT Outside md correspondence (R36)</br>
	      <input type="checkbox" checked>OUT Outside pathology (R33)</br>
	      <input type="checkbox" checked>OUT Outside radiology (R32)</br>
	      <input type="checkbox" checked>POR Test results (G01)</br>
	      <input type="checkbox" checked>RAD Ct scan (T11)</br>
	      <input type="checkbox" checked>RAD Diagnostic radiology (T10)</br>
	      <input type="checkbox" checked>RAD Mri (T12)</br>
	      <input type="checkbox" checked>RAD Nuclear med (T14)</br>
	      <input type="checkbox" checked>RAD Radiology pre-iv contrast procedure verification form (JP9)</br>
            </div>
            <div title="Diagnostics" style="padding:10px;">
	      <input type="checkbox" checked>Diagnostic Bacterial/Fungal Culture, Urine</br>
	      <input type="checkbox" checked>Diagnostic Basic Metabolic Panel</br>
	      <input type="checkbox" checked>Diagnostic Breast Medicine Visit</br>
	      <input type="checkbox" checked>Diagnostic CBC with Automated Diff</br>
	      <input type="checkbox" checked>Diagnostic CEA</br>
	      <input type="checkbox" checked>Diagnostic CT:Chest/Abdomen/Pelvis w/ Contrast</br>
	      <input type="checkbox" checked>Diagnostic CT</br>
	      <input type="checkbox" checked>Diagnostic Cancer Antigen 125</br>
	      <input type="checkbox" checked>Diagnostic Cancer Antigen 15-3</br>
	      <input type="checkbox" checked>Diagnostic Complete Blood Count</br>
	      <input type="checkbox" checked>Diagnostic Comprehensive Metabolic Panel</br>
	      <input type="checkbox" checked>Diagnostic Glucose (BEDSIDE)</br>
	      <input type="checkbox" checked>Diagnostic LDH</br>
	      <input type="checkbox" checked>Diagnostic Lab64</br>
	      <input type="checkbox" checked>Diagnostic MR</br>
	      <input type="checkbox" checked>Diagnostic Magnesium</br>
	      <input type="checkbox" checked>Diagnostic NM:Bone Scan</br>
	      <input type="checkbox" checked>Diagnostic PET</br>
	      <input type="checkbox" checked>Diagnostic PT&APTT</br>
	      <input type="checkbox" checked>Diagnostic Phosphorus</br>
	      <input type="checkbox" checked>Diagnostic Resting ECG - 12 Lead</br>
	      <input type="checkbox" checked>Diagnostic Submitted Films</br>
	      <input type="checkbox" checked>Diagnostic Surgical Pathology</br>
	      <input type="checkbox" checked>Diagnostic TSH</br>
	      <input type="checkbox" checked>Diagnostic Tx Parameters</br>
	      <input type="checkbox" checked>Diagnostic Type And Screen</br>
	      <input type="checkbox" checked>Diagnostic Urinalysis, Routine</br>
	      <input type="checkbox" checked>Diagnostic XR</br>
            </div>
            <div title="Treatments" style="padding:10px;">
                <input type="checkbox" checked>Medication Acetaminophen</br>
                <input type="checkbox" checked>Medication Dexamethasone INJ</br>
                <input type="checkbox" checked>Medication Dexamethasone</br>
                <input type="checkbox" checked>Medication Fulvestrant INJ</br>
                <input type="checkbox" checked>Medication Gemcitabine INJ</br>
                <input type="checkbox" checked>Medication Letrozole</br>
                <input type="checkbox" checked>Medication Non-Formulary Medication</br>
                <input type="checkbox" checked>Medication Normal Saline</br>
                <input type="checkbox" checked>Medication PACLItaxel INJ</br>
                <input type="checkbox" checked>Medication TRASTUZUmab INJ</br>
                <input type="checkbox" checked>Medication VinORELbine INJ</br>
                <input type="checkbox" checked>Medication diphenhydrAMINE INJ</br>
            </div>
            <div title="Other" style="padding:10px">
              <input type="checkbox" checked>Other Chemo Nursing Order</br>
              <input type="checkbox" checked>Other Chemo Protocol</br>
              <input type="checkbox" checked>Other Chemo Tx</br>
              <input type="checkbox" checked>Other Current Tx Note</br>
              <input type="checkbox" checked>Other Diet</br>
              <input type="checkbox" checked>Other Discharge Symptoms to Report</br>
              <input type="checkbox" checked>Other Follow Up Visit After Discharge</br>
              <input type="checkbox" checked>Other Orders Sign Off Outpatient</br>
              <input type="checkbox" checked>Other Orders Signoff</br>
              <input type="checkbox" checked>Other Regimen Note</br>
              <input type="checkbox" checked>Other Standard Antiemetics & Supportive Meds</br>
              <input type="checkbox" checked>Other Standard Hydration</br>
              <input type="checkbox" checked>Other Vital Signs</br>
            </div>
          </div>
        </div>
        <!--configuration panel-->

        <!--display/overview panel-->
        <div id="pt_display_panel" data-options="region:'center',title:'Overview'">
            <div id="timeline_display_panel" class="easyui-layout" data-options="fit:true">

                <!--The region panel-->
                <div id="timeline_overview_display" data-options="region:'north',split:true,border:false" style="height:75px">
                    <!-- <img src="{% static 'tracks/tmp/region_view.png' %}" style="height:66px"> -->
                    <p>
                        <label for="amount"> Month range:</label>
                        <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                    </p>

                    <div id="slider-range"></div>

                </div>
                <!--The region panel-->

                <!--The display panel-->
                <div id="timeline_container" data-options="region:'center',border:false"></div>
                <!--The display panel-->
            </div>
        </div>
        <!--display/overview panel-->

    </body>
</html>
