<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>::patient_tracker::</title>
    
    <!-- CSS -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.css" type="text/css" rel="stylesheet">
    <link href="http://cdn.sencha.io/ext-4.1.1a-gpl/resources/css/ext-all-gray.css" type="text/css" rel="stylesheet">

    {% load staticfiles %}
    <!--
    <link href="{% static 'tracks/config/ChemDoodleWeb.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'tracks/config/jquery.qtip.min.css' %}" type="text/css" rel="stylesheet">
    -->
    <link href="{% static 'tracks/config/style.css' %}" type="text/css" rel="stylesheet">  
    
    <!-- Std-js -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.js"></script>

    <!-- Ext-js -->
    <script type="text/javascript" src="http://cdn.sencha.io/ext-4.1.1a-gpl/ext-all.js"></script>
    <script type="text/javascript" src="http://cdn.sencha.io/ext-4.1.1a-gpl/examples/shared/examples.js"></script>

	<!-- genome-maps-config -->
	<script type="text/javascript" src="{% static 'tracks/config/gm-config.js' %}"></script>

	<!-- genome-maps -->
	<script type="text/javascript" src="{% static 'tracks/config/gm-plugins-config.json' %}"></script>
	<script type="text/javascript" src="{% static 'tracks/genome-maps.js' %}"></script>

</head>

<body style="overflow: hidden">
	<div id="checkBrowser"></div>
	<div id="mydiv"></div>
</body>

</html>

