<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Clinical Semantics Search Demo</title>

        {% load staticfiles %}
        <!--style sheets--> 
        <link rel="stylesheet" type="text/css" href="{% static 'search/themes/gray/easyui.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'search/themes/icon.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'search/demo.css' %}">
        <!--style sheets--> 

        <script type="text/javascript" src="{% static 'search/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'search/jquery/jquery.easyui.min.js' %}"></script>
        
    </head>

    <body class="easyui-layout">

        <!--header-->
        <div data-options="region:'north'" style="height:30px;background-color: #eee">
            <span class="appName">Clinical Semantic Search</span>
        </div>
        <!--header-->
        <div style="margin:40px 0;"></div>

        <!--footer-->
        <div data-options="region:'south'" style="height:25px;background-color: #eee">
            <span class="version_info">version 0.0.1</span>
        </div>
        <!--footer-->
    
        <!--search box-->
        <div style="height:100px" align="center">

	  <figure> 
	    <img src="{% static 'search/ClinSem.png' %}" alt="ClinSem Search" width="250" >
	  </figure>
            <!--<form id="tfnewsearch" method="get" action="">
            </form>-->
            <input class="easyui-searchbox" data-options="prompt:'Quick Search',menu:'#mm',searcher:doSearch" style="width:400px;height:30px;"></input>
            <div id="mm">      
                <div data-options="name:'words'">Similar Words</div>
                <div data-options="name:'text'">Similar Text</div>
                <div data-options="name:'document'">Similar Document</div>
                <div data-options="name:'patient'">Similar Patient</div>
            </div>
            <script>
              function doSearch(value,name){
<!--               alert('You input: ' + value+'('+name+')'); -->

                    $.ajax({
                      type: "POST",
                      url: "example_word_query.py",
                      data: { type: name, query: value}
                    })
                      .done(function( html ) {
                        $( "#results" ).append( html );
                      });
                }
            </script>
        </div>
        <!--search box-->

        <!--help message-->
        <div align="center">
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
            <p>Tips: Use the dropdown button to select the search category.</p>
        </div>
        <!--help message-->

        <!--result page-->
        <div id="results">
        </div>
        <!--result page-->

    </body>
</html>
