<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Clinical Semantics Search Demo</title>

        {% load staticfiles %}
        <!--style sheets--> 
        <link rel="stylesheet" type="text/css" href="{% static 'search/themes/gray/easyui.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'search/themes/icon.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'search/demo.css' %}">
        <!--style sheets--> 

        <script type="text/javascript" src="{% static 'search/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'search/jquery/jquery.easyui.min.js' %}"></script>
        
    </head>

    <body class="easyui-layout">

        <!--header-->
        <div data-options="region:'north'" style="height:30px;background-color: #eee">
            <span class="appName">Clinical Semantic Search</span>
        </div>
        <!--header-->
        <div style="margin:40px 0;"></div>

        <!--footer-->
        <div data-options="region:'south'" style="height:25px;background-color: #eee">
            <span class="version_info">version 0.0.1</span>
        </div>
        <!--footer-->
    
        <!--search box-->
        <div style="height:100px" align="center">

	  <figure> 
	    <img src="{% static 'search/ClinSem.png' %}" alt="ClinSem Search" width="250" >
	  </figure>
            <!--<form id="tfnewsearch" method="get" action="">
            </form>-->
            <input class="easyui-searchbox" data-options="prompt:'Quick Search',menu:'#mm',searcher:doSearch" style="width:400px;height:30px;"></input>
            <div id="mm">      
                <div data-options="name:'words'">Similar Words</div>
                <!-- <div data-options="name:'text'">Similar Text</div> -->
                <div data-options="name:'document'">Similar Document</div>
                <div data-options="name:'patient'">Similar Patient</div>
            </div>
            <script>
              function doSearch(value,name){
<!--               alert('You input: ' + value+'('+name+')'); -->

                    $.ajax({
                      type: "POST",
                      url: "example_word_query.py",
                      data: { type: name, query: value}
                    })
                      .done(function( html ) {
                        $( "#results" ).append( html );
                      });
                }
            </script>
        </div>
        <!--search box-->

        <!--help message-->
        <div align="center">
	  <br>
	  <br>
        </div>
        <!--help message-->

        <!--result page-->
        <div id="results" align="center">

<br><br><table style="width:50%" cellspacing="10">
<tr><td style="width:10%"></td><td><font size="5"><a href="http://0.0.0.0:8000/search/">cyclosporine</a></font><br><font size="3"></td><td><a href="">Note
      132558</a></td><td><a href="">Patient
      812007</a></font></td></tr>
<tr><td style="width:5%"></td><td><font size="5"><a href="http://0.0.0.0:8000/search/">Exjade</a></font><br><font size="3"></td><td><a href="">Note
      124634</a></td><td><a href="">Patient
      593516</a></font></td></tr>
<tr><td style="width:5%"></td><td><font size="5"><a href="http://0.0.0.0:8000/search/">Aromasin</a></font><br><font size="3"></td><td><a href="">Note
      133259</a></td><td><a href="">Patient
      203103</a></font></td></tr>
<tr><td style="width:5%"></td><td><font size="5"><a href="http://0.0.0.0:8000/search/">nilotinib</a></font><br><font size="3"></td><td><a href="">Note
      141353</a></td><td><a href="">Patient
      103383</a></font></td></tr>
<tr><td style="width:5%"></td><td><font size="5"><a href="http://0.0.0.0:8000/search/">sirolimus</a></font><br><font size="3"></td><td><a href="">Note
      17890</a></td><td><a href="">Patient
      616264</a></font></td></tr>
<tr><td style="width:5%"></td><td><font size="5"><a href="http://0.0.0.0:8000/search/">cyclosporin</a></font><br><font size="3"></td><td><a href="">Note
      16645</a></td><td><a href="">Patient
      686068</a></font></td></tr>
<tr><td style="width:5%"></td><td><font size="5"><a href="http://0.0.0.0:8000/search/">Zytiga</a></font><br><font size="3"></td><td><a href="">Note
      98611</a></td><td><a href="">Patient
      221914</a></font></td></tr>
<tr><td style="width:5%"></td><td><font size="5"><a href="http://0.0.0.0:8000/search/">ganciclovir</a></font><br><font size="3"></td><td><a href="">Note
      193624</a></td><td><a href="">Patient
      104773</a></font></td></tr>
<tr><td style="width:5%"></td><td><font size="5"><a href="http://0.0.0.0:8000/search/">danazol</a></font><br><font size="3"></td><td><a href="">Note
      16740</a></td><td><a href="">Patient 77739</a></font></td></tr>
<tr><td style="width:5%"></td><td><font size="5"><a href="http://0.0.0.0:8000/search/">Femara</a></font><br><font size="3"></td><td><a href="">Note
      77049</a></td><td><a href="">Patient
      342241</a></font></td></tr>
<tr><td style="width:5%"></td><td><font size="5"><a href="http://0.0.0.0:8000/search/">phenytoin</a></font><br><font size="3"></td><td><a href="">Note
      1621</a></td><td><a href="">Patient 940690</a></font></td></tr>
<tr><td style="width:5%"></td><td><font size="5"><a href="http://0.0.0.0:8000/search/">keto</a></font><br><font size="3"></td><td><a href="">Note
      163500</a></td><td><a href="">Patient
      958924</a></font></td></tr>
</table><br>

        </div>
        <!--result page-->

    </body>
</html>
