<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>ClinSim Search Demo</title>

        {% load staticfiles %}
        <!--style sheets--> 
        <link rel="stylesheet" type="text/css" href="{% static 'search/themes/gray/easyui.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'search/themes/icon.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'search/demo.css' %}">
        <!--style sheets--> 

        <script type="text/javascript" src="{% static 'search/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'search/jquery/jquery.easyui.min.js' %}"></script>
        
    </head>

    <body class="easyui-layout">

        <!--header-->
        <div data-options="region:'north'" style="height:35px;background-color: #eee">

            <!--TODO  replace the appliance name with logo-->
            <!--TODO  align the name to left and search box next to each other-->
            <div style="float:left;width:180px;">
                <span class="appName">ClinSim Search</span>
            </div>

            <!--TODO  form action-->
            <div style="height:30px" style="float:right;" align="right">
                <input class="easyui-searchbox" data-options="prompt:'Quick Search',menu:'#mm',searcher:doSearch" style="width:400px;height:30px;"></input>
                <div id="mm">      
                    <div data-options="name:'words'">Similar Words</div>
                    <div data-options="name:'text'">Similar Text</div>
                    <div data-options="name:'document'">Similar Document</div>
                    <div data-options="name:'patient'">Similar Patient</div>
                </div>
                <script>
                    function doSearch(value,name){
                        alert('You input: ' + value+'('+name+')');
                    }
                </script>
            </div>

        </div>
        <!--header-->
        <div style="margin:40px 0;"></div>

        <!--footer-->
        <div data-options="region:'south'" style="height:25px;background-color: #eee">
            <span class="version_info">version 0.0.1</span>
        </div>
        <!--footer-->
   
        <div data-options="region:'west'" style="width:150px;"> 
            <p>this will be an empty</p>
        </div>

        <div data-options="region:'center'" style="padding:20px">
            <p> Here the Contents fill up.</p>
        </div>

    </body>
</html>
